<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="top-bar" class="top-banner" th:fragment="topBanner">
  <a href="#">&#49888;&#44508;&#44032;&#51077; &#51060;&#48292;&#53944; &#51473;</a>
  <span style="color:rgba(255,255,255,.4)">|</span>
  <a href="#">&#54924;&#50896; &#44032;&#51077;&#49884; 3000P &#51648;&#44553;</a>
  <button type="button" class="top-close" id="topBarClose" aria-label="&#49345;&#45800; &#48176;&#45320; &#45803;&#44592;"><i class="fa-solid fa-xmark"></i></button>
</div>

<ul th:fragment="navItems(active)" class="nav-list">
  <li><a href="#">BRAND</a><ul class="sub-menu"><li><a href="#">Teehaus</a></li><li><a href="#">History</a></li><li><a href="#">ESG</a></li><li><a href="#">Location</a></li><li><a href="#">Membership</a></li></ul></li>
  <li><a th:href="@{/category/tea-set/24/}">STORE</a><ul class="sub-menu"><li><a th:classappend="${active == 'tea-set'} ? 'active'" th:href="@{/category/tea-set/24/}">Tea Set</a></li><li><a th:classappend="${active == 'loose-tea'} ? 'active'" th:href="@{/category/loose-tea/46/}">Loose Tea</a></li><li><a th:classappend="${active == 'tea-caddy'} ? 'active'" th:href="@{/category/tea-caddy/49/}">Tea-Caddy</a></li><li><a th:classappend="${active == 'leafcup'} ? 'active'" th:href="@{/category/leafcup/48/}">LeafCup</a></li><li><a th:classappend="${active == 'teavelope'} ? 'active'" th:href="@{/category/teavelope/47/}">Teavelope</a></li><li><a th:classappend="${active == 'tea-ware'} ? 'active'" th:href="@{/category/tea-ware/26/}">Tea Ware</a></li><li><a th:classappend="${active == 'life-style'} ? 'active'" th:href="@{/category/life-style/25/}">Life Style</a></li></ul></li>
  <li><a href="#">GALLERY</a><ul class="sub-menu"><li><a href="#">People</a></li><li><a href="#">Place</a></li><li><a href="#">Moments</a></li></ul></li>
  <li><a href="#">CAMPAIGN</a></li>
  <li><a th:href="@{/board/product/6/}">COMMUNITY</a><ul class="sub-menu"><li><a href="#">News</a></li><li><a href="#">Q&amp;A</a></li><li><a href="#">Get in Touch</a></li><li><a href="#">Review</a></li><li><a th:classappend="${active == 'inquiry'} ? 'active'" th:href="@{/board/product/6/}">&#47928;&#51032;&#54616;&#44592;</a></li></ul></li>
</ul>

<div id="header" class="site-header" th:fragment="header(active, showSearch)">
  <div class="bs_main_menu left-nav">
    <ul th:replace="~{fragments/layout :: navItems(${active})}"></ul>
  </div>
  <a class="logo" th:href="@{/}" aria-label="Ronnefeldt home"><img src="https://teehaus.co.kr/bs21/img/layout/logo_b_3.png" alt="Ronnefeldt"></a>
  <div class="header-right">
    <a th:if="${showSearch}" href="#none" id="searchOpen">Search</a><span th:if="${showSearch}" class="util-sep">|</span>
    <a th:if="${showSearch}" th:href="@{/order/basket.html}">Cart ( <span th:text="${cartCount != null ? cartCount : 0}">0</span> )</a><span th:if="${showSearch}" class="util-sep">|</span>
    <button class="hamburger menu-button" id="menuOpen" aria-label="&#47700;&#45684; &#50676;&#44592;"><i class="fa-solid fa-bars"></i></button>
  </div>
</div>

<div th:fragment="productActions(detailUrl)" class="prd-actions">
  <button type="button" class="prd-action prd-like" aria-label="&#44288;&#49900;&#49345;&#54408;" title="&#44288;&#49900;&#49345;&#54408;"><i class="fa-regular fa-heart"></i></button>
  <a class="prd-action prd-open" th:href="${detailUrl}" target="_blank" rel="noopener" aria-label="&#49352;&#52285;&#51004;&#47196; &#50676;&#44592;" title="&#49352;&#52285;&#51004;&#47196; &#50676;&#44592;"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
</div>

<article th:fragment="productCard(product, delay)" class="product-card" th:style="|--delay:${delay}ms|">
  <div class="product-image">
    <a class="product-thumb" th:classappend="${product.soldOut()} ? ' is-sold-out'" th:href="${product.detailUrl()}">
      <img th:src="${product.displayImageUrl()}" th:alt="${product.name}">
      <span class="sold-out" th:if="${product.soldOut()}">SOLD OUT</span>
    </a>
    <div th:replace="~{fragments/layout :: productActions(${product.detailUrl()})}"></div>
  </div>
  <div class="product-info">
    <a class="product-name" th:href="${product.detailUrl()}" th:text="${product.name}">Product</a>
    <p class="product-summary" th:text="${product.displaySummary()}">&#49345;&#54408; &#49444;&#47749;</p>
    <span class="review">&#47532;&#48624; 0</span>
    <strong class="price" th:text="${product.formattedPrice()}">0&#50896;</strong>
  </div>
</article>

<div class="bs_search search-overlay" id="searchOverlay" aria-hidden="true" th:fragment="searchOverlay">
  <div class="bs-search-left">
    <strong class="bs-search-heading">&#47924;&#50631;&#51012; &#52286;&#51004;&#49884;&#45208;&#50836;?</strong>
  </div>
  <div class="bs-search-right">
    <form class="bs-search-form" id="searchOverlayForm" action="https://teehaus.co.kr/product/search.html" method="get">
      <fieldset>
        <legend>&#44160;&#49353;</legend>
        <div class="bs-search-field">
          <input type="text" id="searchKeyword" name="keyword" placeholder="&#44160;&#49353;&#50612; &#51077;&#47141;" autocomplete="off">
          <button type="submit" class="bs-search-submit" aria-label="&#44160;&#49353;"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="bs-search-info">&#44160;&#49353;&#50612; &#51077;&#47141;&#54980;&#50640; &#50644;&#53552;&#47484; &#45572;&#47476;&#49464;&#50836;.</div>
      </fieldset>
    </form>
  </div>
  <button type="button" class="bs-search-close overlay-close" id="searchClose" aria-label="&#44160;&#49353; &#45803;&#44592;"></button>
</div>

<div class="bs_sliding_menu side-menu" id="slidingMenu" aria-hidden="true" th:fragment="sideMenu">
  <div class="bs_cover side-cover" id="slideMenuCover"></div>
  <button type="button" class="slide-menu-close side-close" id="slideMenuClose" aria-label="&#47700;&#45684; &#45803;&#44592;"></button>
  <div class="bs_wrap side-panel">
    <div class="slide-user" th:with="loginUser=${session.loginUser}">
      <span th:if="${loginUser == null}" class="slide-point side-point"><a th:href="@{/member/join.html}">&#54924;&#50896; 3,000P</a></span>
      <span th:if="${loginUser != null}" class="slide-point side-point"><a href="#" th:text="${loginUser.displayName()}">Member</a></span>
      <a th:if="${loginUser == null}" th:href="@{/member/login.html}" class="slide-account">&#54924;&#50896;&#44228;&#51221;</a>
      <a th:if="${loginUser != null}" th:href="@{/member/logout}" class="slide-account">&#47196;&#44536;&#50500;&#50883;</a>
      <a th:href="@{/order/basket.html}" class="slide-link">&#51109;&#48148;&#44396;&#45768;</a>
      <a href="#" class="slide-link">&#51452;&#47928;&#51312;&#54924;</a>
      <a th:href="@{/myshop/index.html}" class="slide-link">&#47560;&#51060;&#49660;&#54609;</a>
    </div>
    <div class="slide-link-group">
      <a href="https://teehaus.co.kr/coupon/coupon_zone.html" class="slide-link">&#53216;&#54256;&#51316;</a>
      <a href="https://teehaus.co.kr/product/recent_view_product.html" class="slide-link">&#52572;&#44540;&#49345;&#54408;</a>
      <div class="slide-recent">
        <a href="https://teehaus.co.kr/product/recent_view_product.html">
          <img src="https://teehaus.co.kr/web/product/medium/202504/bdff9eb6dc86ddfb89ca8d9f941eb38c.png" alt="&#52572;&#44540;&#49345;&#54408;">
        </a>
      </div>
    </div>
    <div class="slide-bottom-banner side-banner" id="slideBottomBanner">
      <a th:href="@{/member/join.html}">&#54000;&#53364;&#47112;&#49828; 25&#45380;1&#44592; &#54924;&#50896; &#47784;&#51665; &#50724;&#54536;!!</a>
      <button type="button" class="slide-banner-close" id="slideBannerClose" aria-label="&#54616;&#45800; &#48176;&#45320; &#45803;&#44592;">&times;</button>
    </div>
  </div>
</div>

<footer class="site-footer" th:fragment="footer">
  <div class="footer-inner">
    <div class="footer-left">
      <a class="footer-logo" th:href="@{/}">
        <img src="https://teehaus.co.kr/bs21/img/layout/botum-2.gif" alt="Ronnefeldt">
      </a>
      <p>
        <span>&#51204;&#54868;: 025511823</span>
        <span>CS&#49468;&#53552; &#50868;&#50689;: 10:00 ~ 17:00 &#53664;, &#51068; &#48143; &#44277;&#55092;&#51068; &#55092;&#47924;</span><br>
        <span>&#49345;&#54840;: &#51452;&#49885;&#54924;&#49324; &#47196;&#45348;&#54172;&#53944;&#54000;&#54616;&#50864;&#49828; &#53076;&#50641;&#49828;&#51216;</span>
        <span>&#45824;&#54364;: &#51060;&#49457;&#51652;</span>
        <span>&#51452;&#49548;: 06164 Seoul, Gangnam-gu, Yeongdong-daero 513, 1F E001</span><br>
        <span>CPO: <a href="mailto:ronnefeldt@teehaus.co.kr">ronnefeldt@teehaus.co.kr</a></span>
        <span>Business No: [1208549435]</span>
        <span>Mail-order report: preparing</span>
      </p>
    </div>
    <div class="footer-right">
      <nav>
        <a href="#">Company</a>
        <a href="#">Guide</a>
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
      </nav>
      <ul>
        <li><a href="https://www.facebook.com/ronnefeldt1823/" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/ronnefeldt_teahouse/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/@MrSohansen" aria-label="Youtube"><i class="fa-brands fa-youtube"></i></a></li>
      </ul>
    </div>
    <p class="copyright">Copyright &copy; <strong>&#47196;&#45348;&#54172;&#53944; &#54000;&#54616;&#50864;&#49828;</strong>. All rights reserved.</p>
  </div>
</footer>
</body>
</html>
